/* all */
* {
  padding: 1px;
  border: none;
  font-family: sans-serif;
  text-decoration: none;
}

/* navigation */
nav {
  box-shadow: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-div {
  flex-grow: 1.5;
  max-width: 86%;
  border-radius: 9999px;
  border: 1.5px #000 solid;
  height: 3rem;
  display: flex;
  background-color: #f7f9fa;
  align-items: center;
  justify-content: flex-start;
  color: #8a8b8d;
}
button {
  border: none;
}
a {
  color: inherit;
}
input {
  width: 80%;
  height: 80%;
  background-color: #f7f9fa;
  border: none;
}
div button {
  width: 30px;
  height: 30px;
}
.white-button,
.sign-button {
  padding: 1em;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border: 1px rgb(0, 0, 0) solid;
}
.sign-button {
  color: white;
  background-color: #000;
}

/* header */

.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85rem;
  position: relative;
  background-color: #f8f9fb;
  margin: auto;
  padding: 1rem 2rem;
}
/* .card {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: white;
} */
.head-bar {
  background-color: white;
  width: 30rem;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin-top: 3rem;
  height: 12rem;
}
.head-bar h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.head-bar h3 {
  font-size: 1.2rem;
}

.alarmphoto {
  width: 35%;
}

/* Courses Section  */

.courses-section {
  padding: 1rem 1rem;
  margin: auto;
  width: 84rem;
}
ul {
  display: flex;
  list-style: none;
}
.courses-categories {
  display: flex;
}
.courses-categories li {
  font-weight: bold;
  margin-left: 0px;
}
.courses-categories :not(:first-of-type) {
  color: gray;
  margin: 0px 10px;
}
.courses-description {
  margin-top: 10px;
  display: flex;
  margin-bottom: 0px;
  max-width: 630px;
  display: flex;
}
p {
  font-size: small;
}
.courses-cards {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.courses-cards card {
  display: flex;
}
/* .card-img {
  width: 80%;
} */
s {
  text-decoration: line-through;
}
.course-img {
  width: 200px;
  height: 120px;
}
.course-caption {
  max-width: 200px;
}
/* media-queries */

/* Header  */

@media only screen and (max-width: 800px) {
  .head-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
  }
  .head-bar {
    width: 100%;
    margin: 0rem 0rem;
    box-shadow: none;
  }
  .alarmphoto {
    width: 80%;
  }
  .head-bar h1 {
    font-size: 2rem;
  }
  .head-bar h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .head-bar h1 {
    font-size: 1.5rem;
  }
  .head-bar h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .head-container {
    width: 100%;
    margin: 0rem 0rem;
  }
  .head-bar {
    height: 50%;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 1080px) {
  .head-container {
    width: 100%;
  }
  .head-bar {
    height: 100%;
  }
}

/* Navigation  */

@media only screen and (max-width: 920px) {
  #teach-on-udemy {
    display: none;
  }
}
@media only screen and (max-width: 1080px) {
  .search-bar {
    flex-grow: 1;
  }
  .search-div {
    width: auto;
  }
  #udemy-business {
    display: none;
  }
  .top-navigation {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .big,
  .categories,
  .nav-ca {
    display: none;
  }
  .menu {
    background: none;
    border: none;
    font-size: 1.2rem;
    display: initial;
  }
  .navbar {
    height: 4rem;
  }
  #teach-udemy,
  #udemy-bus,
  .search-bar {
    flex-grow: 1;
  }
}

/* Courses  */

@media only screen and (max-width: 1400px) {
  .courses-section {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  courses-section {
    width: 80%;
  }
  .courses h3 {
    font-size: 1rem;
  }
  .courses p {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .courses h3 {
    font-size: 0.8rem;
  }
  .courses p {
    font-size: 0.5rem;
  }
  .courses-description {
    width: 100%;
  }
  .above-courses {
    font-size: 1rem;
  }
  .explore {
    width: 7rem;
    height: 2.5rem;
    font-size: 0.5rem;
  }
  .courses-cards {
    width: 100%;
    justify-content: center;
    font-size: 0.8rem;
  }
  .price {
    font-size: 0.7rem;
  }
  .courses-categories :not(:first-of-type) {
    display: none;
    margin: auto;
  }
  .courses-categories {
    justify-content: center;
  }
}

/* Courses 2  */

/*
  Contains courses section styling
*/
.career-title {
  margin: 0;
}

.courses-paragraph {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1.6rem;
  max-width: 50rem;
}

.courses-section {
  border: 1px solid #d1d7dc;
  padding: 1.5rem;
}

.courses-list {
  display: flex;
  overflow: hidden;
  width: auto;
}

.course-item {
  margin-right: 20px;
  font-weight: bold;
  color: #6a6f73;
}

.active {
  color: black;
}

.course {
  width: 240px;
  margin: 2rem 0;
}

.course-title {
  margin: 0.5rem 0;
}

.course-instructor {
  color: #6a6f73;
  margin: 0;
  font-size: 13px;
}

.course-students {
  color: #6a6f73;
  margin: 0;
  font-size: 13px;
  display: inline;
  font-weight: lighter;
}

.stars {
  margin: 0.5rem 0 0.5rem 0;
  color: #e59819;
  font-weight: bold;
}

.courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course-discount {
  color: #6a6f73;
  margin: 0;
  font-size: 13px;
  display: inline;
  font-weight: lighter;
  text-decoration: line-through;
  font-style: italic;
}

.course-price {
  margin: 0.5rem 0;
  display: inline-block;
}
.course-rate {
  color: #b4695b;
  font-style: normal;
}

.best-seller {
  background-color: #eceb98;
  color: #3d3c0a;
}

.best-seller {
  display: block;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
}

.carousel-control-next,
.carousel-control-prev {
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  background-color: #1c1d1f;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  margin: auto;
}

.course-item:hover {
  color: black;
  cursor: pointer;
}

.explore:hover {
  background-color: beige;
}
a {
  text-decoration: none;
}
